PHALA_CLOUD_API_KEY=<your-api-key>
DOCKER_REGISTRY_USERNAME=<your-docker-username>
DOCKER_REGISTRY_PASSWORD=<your-docker-password>
APP_NAME=<your-app-name>
DOCKER_IMAGE_NAME=<docker-image-to-be-deployed-phala>
TLSN_VERIFIER_API_KEY=<api-key-for-auth-mid-layer>


# To test .github/workflows/deploy.yml, you need to set this values, change file name to '.secrets' and can test ci/cd locally via:
# act workflow_dispatch --secret-file .secrets --container-architecture linux/amd64